<div class="embed_translationList__E900j">
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Afar</div>
    <label class="embed_translationOption__oQmm2" for="translation-854"
      ><input id="translation-854" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Afri Translation - Mahmoud Abdulqader Hamza</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">albanian</div>
    <label class="embed_translationOption__oQmm2" for="translation-88"
      ><input id="translation-88" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hasan Efendi Nahi</div>
        <div class="embed_translationMeta__Ai6Nh">Hasan Efendi Nahi</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-89"
      ><input id="translation-89" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sherif Ahmeti</div>
        <div class="embed_translationMeta__Ai6Nh">Sherif Ahmeti</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Amazigh</div>
    <label class="embed_translationOption__oQmm2" for="translation-236"
      ><input id="translation-236" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ramdane At Mansour</div>
        <div class="embed_translationMeta__Ai6Nh">Ramdane At Mansour</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">amharic</div>
    <label class="embed_translationOption__oQmm2" for="translation-87"
      ><input id="translation-87" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sadiq and Sani</div>
        <div class="embed_translationMeta__Ai6Nh">Sadiq and Sani</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Amharic</div>
    <label class="embed_translationOption__oQmm2" for="translation-1000"
      ><input id="translation-1000" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Amharic Translation - Africa Academy</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Arabic</div>
    <label class="embed_translationOption__oQmm2" for="translation-1014"
      ><input id="translation-1014" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Tafsir Al-Muyasser (Arabic in Translation Mode)
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">asante</div>
    <label class="embed_translationOption__oQmm2" for="translation-801"
      ><input id="translation-801" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Akan Translation (Asante) - Harun Ismail</div>
        <div class="embed_translationMeta__Ai6Nh">Sheikh Haroun Ismaeel</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">assamese</div>
    <label class="embed_translationOption__oQmm2" for="translation-120"
      ><input id="translation-120" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Shaykh Rafeequl Islam Habibur-Rahman</div>
        <div class="embed_translationMeta__Ai6Nh">Shaykh Rafeequl Islam Habibur-Rahman</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">azeri</div>
    <label class="embed_translationOption__oQmm2" for="translation-75"
      ><input id="translation-75" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Alikhan Musayev</div>
        <div class="embed_translationMeta__Ai6Nh">Alikhan Musayev</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-23"
      ><input id="translation-23" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Azerbaijani</div>
        <div class="embed_translationMeta__Ai6Nh">Azerbaijani</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">bambara</div>
    <label class="embed_translationOption__oQmm2" for="translation-795"
      ><input id="translation-795" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Suliman Kanti</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div></label
    ><label class="embed_translationOption__oQmm2" for="translation-796"
      ><input id="translation-796" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Baba Mamady Jani</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">bengali</div>
    <label class="embed_translationOption__oQmm2" for="translation-161"
      ><input id="translation-161" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Taisirul Quran</div>
        <div class="embed_translationMeta__Ai6Nh">Tawheed Publication</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-163"
      ><input id="translation-163" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sheikh Mujibur Rahman</div>
        <div class="embed_translationMeta__Ai6Nh">Darussalaam Publication</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-162"
      ><input id="translation-162" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Rawai Al-bayan</div>
        <div class="embed_translationMeta__Ai6Nh">Bayaan Foundation</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-213"
      ><input id="translation-213" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dr. Abu Bakr Muhammad Zakaria</div>
        <div class="embed_translationMeta__Ai6Nh">Dr. Abu Bakr Muhammad Zakaria</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">bosnian</div>
    <label class="embed_translationOption__oQmm2" for="translation-214"
      ><input id="translation-214" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dar Al-Salam Center</div>
        <div class="embed_translationMeta__Ai6Nh">Dar Al-Salam Center</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-25"
      ><input id="translation-25" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhamed Mehanović</div>
        <div class="embed_translationMeta__Ai6Nh">Unknown</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-126"
      ><input id="translation-126" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Besim Korkut</div>
        <div class="embed_translationMeta__Ai6Nh">Besim Korkut</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Bulgarian</div>
    <label class="embed_translationOption__oQmm2" for="translation-237"
      ><input id="translation-237" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Tzvetan Theophanov</div>
        <div class="embed_translationMeta__Ai6Nh">Tzvetan Theophanov</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">central khmer</div>
    <label class="embed_translationOption__oQmm2" for="translation-128"
      ><input id="translation-128" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Cambodian Muslim Community Development</div>
        <div class="embed_translationMeta__Ai6Nh">Cambodian Muslim Community Development</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">chechen</div>
    <label class="embed_translationOption__oQmm2" for="translation-106"
      ><input id="translation-106" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Magomed Magomedov</div>
        <div class="embed_translationMeta__Ai6Nh">Magomed Magomedov</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">chinese</div>
    <label class="embed_translationOption__oQmm2" for="translation-56"
      ><input id="translation-56" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Chinese Translation (Simplified) - Ma Jian</div>
        <div class="embed_translationMeta__Ai6Nh">Ma Jian</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-109"
      ><input id="translation-109" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Makin</div>
        <div class="embed_translationMeta__Ai6Nh">Makin</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Chinese</div>
    <label class="embed_translationOption__oQmm2" for="translation-853"
      ><input id="translation-853" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Chinese Translation - Muhammad Sulaiman</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Croatian</div>
    <label class="embed_translationOption__oQmm2" for="translation-997"
      ><input id="translation-997" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Croatian Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">czech</div>
    <label class="embed_translationOption__oQmm2" for="translation-26"
      ><input id="translation-26" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Czech</div>
        <div class="embed_translationMeta__Ai6Nh">Czech</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">dari</div>
    <label class="embed_translationOption__oQmm2" for="translation-785"
      ><input id="translation-785" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Mawlawi Muhammad Anwar Badkhashani</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">divehi</div>
    <label class="embed_translationOption__oQmm2" for="translation-86"
      ><input id="translation-86" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Office of the President of Maldives</div>
        <div class="embed_translationMeta__Ai6Nh">Office of the president of Maldives</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-840"
      ><input id="translation-840" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abu Bakr Ibrahim Ali (Bakurube)</div>
        <div class="embed_translationMeta__Ai6Nh">Abu Bakr Ibrahim Ali</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">dutch</div>
    <label class="embed_translationOption__oQmm2" for="translation-235"
      ><input id="translation-235" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Malak Faris Abdalsalaam</div>
        <div class="embed_translationMeta__Ai6Nh">Malak Faris Abdalsalaam</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Dutch</div>
    <label class="embed_translationOption__oQmm2" for="translation-144"
      ><input id="translation-144" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sofian S. Siregar</div>
        <div class="embed_translationMeta__Ai6Nh">Sofian S. Siregar</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-918"
      ><input id="translation-918" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Dutch Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">english</div>
    <label class="embed_translationOption__oQmm2" for="translation-85"
      ><input id="translation-85" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">M.A.S. Abdel Haleem</div>
        <div class="embed_translationMeta__Ai6Nh">Abdul Haleem</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-131"
      ><input id="translation-131" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dr. Mustafa Khattab, The Clear Quran</div>
        <div class="embed_translationMeta__Ai6Nh">Dr. Mustafa Khattab</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-84"
      ><input id="translation-84" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">T. Usmani</div>
        <div class="embed_translationMeta__Ai6Nh">Mufti Taqi Usmani</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-95"
      ><input id="translation-95" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">A. Maududi (Tafhim commentary)</div>
        <div class="embed_translationMeta__Ai6Nh">Sayyid Abul Ala Maududi</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-19"
      ><input id="translation-19" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">M. Pickthall</div>
        <div class="embed_translationMeta__Ai6Nh">Mohammed Marmaduke William Pickthall</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-22"
      ><input id="translation-22" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">A. Yusuf Ali</div>
        <div class="embed_translationMeta__Ai6Nh">Abdullah Yusuf Ali</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-20"
      ><input id="translation-20" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Saheeh International</div>
        <div class="embed_translationMeta__Ai6Nh">Saheeh International</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-203"
      ><input id="translation-203" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Al-Hilali &amp; Khan</div>
        <div class="embed_translationMeta__Ai6Nh">
          Muhammad Taqi-ud-Din al-Hilali &amp; Muhammad Muhsin Khan
        </div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-57"
      ><input id="translation-57" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Transliteration</div>
        <div class="embed_translationMeta__Ai6Nh">Transliteration</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Filipino</div>
    <label class="embed_translationOption__oQmm2" for="translation-998"
      ><input id="translation-998" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Filipino Translation (Bisayan) - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">finnish</div>
    <label class="embed_translationOption__oQmm2" for="translation-30"
      ><input id="translation-30" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Finnish</div>
        <div class="embed_translationMeta__Ai6Nh">Finnish</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">french</div>
    <label class="embed_translationOption__oQmm2" for="translation-136"
      ><input id="translation-136" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Montada Islamic Foundation</div>
        <div class="embed_translationMeta__Ai6Nh">Montada Islamic Foundation</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-31"
      ><input id="translation-31" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Hamidullah</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Hamidullah</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-779"
      ><input id="translation-779" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Rashid Maash</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">ganda</div>
    <label class="embed_translationOption__oQmm2" for="translation-232"
      ><input id="translation-232" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">African Development Foundation</div>
        <div class="embed_translationMeta__Ai6Nh">African Development Foundation</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">german</div>
    <label class="embed_translationOption__oQmm2" for="translation-208"
      ><input id="translation-208" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abu Reda Muhammad ibn Ahmad</div>
        <div class="embed_translationMeta__Ai6Nh">Abu Reda Muhammad ibn Ahmad</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-27"
      ><input id="translation-27" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Frank Bubenheim and Nadeem</div>
        <div class="embed_translationMeta__Ai6Nh">A. S. F. Bubenheim and N. Elyas</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">gujarati</div>
    <label class="embed_translationOption__oQmm2" for="translation-225"
      ><input id="translation-225" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Rabila Al-Umry</div>
        <div class="embed_translationMeta__Ai6Nh">Rabila Al-Umry</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">hausa</div>
    <label class="embed_translationOption__oQmm2" for="translation-32"
      ><input id="translation-32" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hausa Translation (Abubakar Gumi)</div>
        <div class="embed_translationMeta__Ai6Nh">Abubakar Mahmoud Gumi</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-115"
      ><input id="translation-115" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abubakar Mahmood Jummi</div>
        <div class="embed_translationMeta__Ai6Nh">Abubakar Mahmood Jummi</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">hebrew</div>
    <label class="embed_translationOption__oQmm2" for="translation-233"
      ><input id="translation-233" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dar Al-Salam Center</div>
        <div class="embed_translationMeta__Ai6Nh">Dar Al-Salam Center</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">hindi</div>
    <label class="embed_translationOption__oQmm2" for="translation-122"
      ><input id="translation-122" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Maulana Azizul Haque al-Umari</div>
        <div class="embed_translationMeta__Ai6Nh">Maulana Azizul Haque al-Umari</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">indonesian</div>
    <label class="embed_translationOption__oQmm2" for="translation-134"
      ><input id="translation-134" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">King Fahad Quran Complex</div>
        <div class="embed_translationMeta__Ai6Nh">King Fahad Quran Complex</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-141"
      ><input id="translation-141" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">The Sabiq Company</div>
        <div class="embed_translationMeta__Ai6Nh">The Sabiq company</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-33"
      ><input id="translation-33" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Indonesian Islamic Affairs Ministry</div>
        <div class="embed_translationMeta__Ai6Nh">Unknown</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">italian</div>
    <label class="embed_translationOption__oQmm2" for="translation-153"
      ><input id="translation-153" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hamza Roberto Piccardo</div>
        <div class="embed_translationMeta__Ai6Nh">Hamza Roberto Piccardo</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">japanese</div>
    <label class="embed_translationOption__oQmm2" for="translation-35"
      ><input id="translation-35" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ryoichi Mita</div>
        <div class="embed_translationMeta__Ai6Nh">Ryoichi Mita</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-218"
      ><input id="translation-218" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Saeed Sato</div>
        <div class="embed_translationMeta__Ai6Nh">Saeed Sato</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">kannada</div>
    <label class="embed_translationOption__oQmm2" for="translation-771"
      ><input id="translation-771" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Kannada Translation</div>
        <div class="embed_translationMeta__Ai6Nh">Kannada Translation</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Kannada</div>
    <label class="embed_translationOption__oQmm2" for="translation-920"
      ><input id="translation-920" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Kannada Translation - Hamza Butur</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">kazakh</div>
    <label class="embed_translationOption__oQmm2" for="translation-222"
      ><input id="translation-222" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Khalifa Altay</div>
        <div class="embed_translationMeta__Ai6Nh">Khalifa Altay</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-113"
      ><input id="translation-113" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Khalifah Altai</div>
        <div class="embed_translationMeta__Ai6Nh">Khalifah Altai</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Khmer</div>
    <label class="embed_translationOption__oQmm2" for="translation-999"
      ><input id="translation-999" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Khmer Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">kinyarwanda</div>
    <label class="embed_translationOption__oQmm2" for="translation-774"
      ><input id="translation-774" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">The Rwanda Muslims Association Team</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">korean</div>
    <label class="embed_translationOption__oQmm2" for="translation-36"
      ><input id="translation-36" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Korean</div>
        <div class="embed_translationMeta__Ai6Nh">Korean</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-219"
      ><input id="translation-219" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hamed Choi</div>
        <div class="embed_translationMeta__Ai6Nh">Hamed Choi</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">kurdish</div>
    <label class="embed_translationOption__oQmm2" for="translation-81"
      ><input id="translation-81" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Burhan Muhammad-Amin</div>
        <div class="embed_translationMeta__Ai6Nh">Burhan Muhammad-Amin</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-143"
      ><input id="translation-143" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Saleh Bamoki</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Saleh Bamoki</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Kyrgyz, Kirghiz</div>
    <label class="embed_translationOption__oQmm2" for="translation-858"
      ><input id="translation-858" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Kyrgyz Translation - Shamsuddin Hakimov</div>
        <div class="embed_translationMeta__Ai6Nh">Shamsuddin Hakimov Abdulkhaliq</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Lingala</div>
    <label class="embed_translationOption__oQmm2" for="translation-855"
      ><input id="translation-855" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Lingala Translation - Mohammed Balangogo</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Lithuanian</div>
    <label class="embed_translationOption__oQmm2" for="translation-904"
      ><input id="translation-904" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Lithuanian Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">macedonian</div>
    <label class="embed_translationOption__oQmm2" for="translation-788"
      ><input id="translation-788" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Macedonian scholars</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">malay</div>
    <label class="embed_translationOption__oQmm2" for="translation-39"
      ><input id="translation-39" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abdullah Muhammad Basmeih</div>
        <div class="embed_translationMeta__Ai6Nh">Abdullah Muhammad Basmeih</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">malayalam</div>
    <label class="embed_translationOption__oQmm2" for="translation-80"
      ><input id="translation-80" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Karakunnu and Vanidas Elayavoor</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Karakunnu and Vanidas Elayavoor</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-224"
      ><input id="translation-224" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abdul-Hamid Haidar &amp; Kanhi Muhammad</div>
        <div class="embed_translationMeta__Ai6Nh">Abdul-Hamid Haidar &amp; Kanhi Muhammad</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-37"
      ><input id="translation-37" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Malayalam Translation (Abdul Hameed and Kunhi)
        </div>
        <div class="embed_translationMeta__Ai6Nh">
          Cheriyamundam Abdul Hameed and Kunhi Mohammed Parappoor
        </div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">maranao</div>
    <label class="embed_translationOption__oQmm2" for="translation-38"
      ><input id="translation-38" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Maranao</div>
        <div class="embed_translationMeta__Ai6Nh">Maranao</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">marathi</div>
    <label class="embed_translationOption__oQmm2" for="translation-226"
      ><input id="translation-226" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Shafi’i Ansari</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Shafi’i Ansari</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Moore</div>
    <label class="embed_translationOption__oQmm2" for="translation-923"
      ><input id="translation-923" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Moore Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">nepali</div>
    <label class="embed_translationOption__oQmm2" for="translation-108"
      ><input id="translation-108" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ahl Al-Hadith Central Society of Nepal</div>
        <div class="embed_translationMeta__Ai6Nh">Ahl Al-Hadith Central Society of Nepal</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">norwegian</div>
    <label class="embed_translationOption__oQmm2" for="translation-41"
      ><input id="translation-41" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Norwegian</div>
        <div class="embed_translationMeta__Ai6Nh">Norwegian</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">oromo</div>
    <label class="embed_translationOption__oQmm2" for="translation-111"
      ><input id="translation-111" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ghali Apapur Apaghuna</div>
        <div class="embed_translationMeta__Ai6Nh">Ghali Apapur Apaghuna</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">pashto</div>
    <label class="embed_translationOption__oQmm2" for="translation-118"
      ><input id="translation-118" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Zakaria Abulsalam</div>
        <div class="embed_translationMeta__Ai6Nh">Zakaria Abulsalam</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Pashto</div>
    <label class="embed_translationOption__oQmm2" for="translation-919"
      ><input id="translation-919" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Pashto Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">persian</div>
    <label class="embed_translationOption__oQmm2" for="translation-135"
      ><input id="translation-135" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">IslamHouse.com</div>
        <div class="embed_translationMeta__Ai6Nh">IslamHouse.com</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-29"
      ><input id="translation-29" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hussein Taji Kal Dari</div>
        <div class="embed_translationMeta__Ai6Nh">Hussein Taji Kal Dari</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">polish</div>
    <label class="embed_translationOption__oQmm2" for="translation-42"
      ><input id="translation-42" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Józef Bielawski</div>
        <div class="embed_translationMeta__Ai6Nh">Józef Bielawski</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">portuguese</div>
    <label class="embed_translationOption__oQmm2" for="translation-103"
      ><input id="translation-103" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Helmi Nasr</div>
        <div class="embed_translationMeta__Ai6Nh">Helmi Nasr</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-43"
      ><input id="translation-43" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Samir El-Hayek</div>
        <div class="embed_translationMeta__Ai6Nh">Samir El-Hayek</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Punjabi</div>
    <label class="embed_translationOption__oQmm2" for="translation-857"
      ><input id="translation-857" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Punjabi Translation - Arif Halim</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">romanian</div>
    <label class="embed_translationOption__oQmm2" for="translation-782"
      ><input id="translation-782" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Islamic and Cultural League</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Romanian</div>
    <label class="embed_translationOption__oQmm2" for="translation-44"
      ><input id="translation-44" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Grigore</div>
        <div class="embed_translationMeta__Ai6Nh">George Grigore</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-996"
      ><input id="translation-996" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Romanian Translation - Islam4ro.com</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Rundi</div>
    <label class="embed_translationOption__oQmm2" for="translation-921"
      ><input id="translation-921" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Kirundi Translation - Yusuf Gheti</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">russian</div>
    <label class="embed_translationOption__oQmm2" for="translation-79"
      ><input id="translation-79" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abu Adel</div>
        <div class="embed_translationMeta__Ai6Nh">Abu Adel</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-78"
      ><input id="translation-78" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ministry of Awqaf, Egypt</div>
        <div class="embed_translationMeta__Ai6Nh">Ministry of Awqaf, Egypt</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-45"
      ><input id="translation-45" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Elmir Kuliev</div>
        <div class="embed_translationMeta__Ai6Nh">Elmir Kuliev</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">serbian</div>
    <label class="embed_translationOption__oQmm2" for="translation-215"
      ><input id="translation-215" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dar Al-Salam Center</div>
        <div class="embed_translationMeta__Ai6Nh">Dar Al-Salam Center</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Sindhi</div>
    <label class="embed_translationOption__oQmm2" for="translation-238"
      ><input id="translation-238" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Taj Mehmood Amroti</div>
        <div class="embed_translationMeta__Ai6Nh">Taj Mehmood Amroti</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">sinhala, sinhalese</div>
    <label class="embed_translationOption__oQmm2" for="translation-228"
      ><input id="translation-228" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ruwwad Center</div>
        <div class="embed_translationMeta__Ai6Nh">Ruwwad Center</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">somali</div>
    <label class="embed_translationOption__oQmm2" for="translation-46"
      ><input id="translation-46" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Mahmud Muhammad Abduh</div>
        <div class="embed_translationMeta__Ai6Nh">Mahmud Muhammad Abduh</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-786"
      ><input id="translation-786" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abdullah Hassan Yacoub</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">spanish</div>
    <label class="embed_translationOption__oQmm2" for="translation-83"
      ><input id="translation-83" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sheikh Isa Garcia</div>
        <div class="embed_translationMeta__Ai6Nh">Sheikh Isa Garcia</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-140"
      ><input id="translation-140" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Montada Islamic Foundation</div>
        <div class="embed_translationMeta__Ai6Nh">Montada Islamic Foundation</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-199"
      ><input id="translation-199" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Noor International Center</div>
        <div class="embed_translationMeta__Ai6Nh">Noor International Center</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">swahili</div>
    <label class="embed_translationOption__oQmm2" for="translation-793"
      ><input id="translation-793" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Swahili Translation - Ali Muhsin Al-Barwani</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Swahili</div>
    <label class="embed_translationOption__oQmm2" for="translation-1001"
      ><input id="translation-1001" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Swahili Translation - Rowad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">swedish</div>
    <label class="embed_translationOption__oQmm2" for="translation-48"
      ><input id="translation-48" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Knut Bernström</div>
        <div class="embed_translationMeta__Ai6Nh">Knut Bernström</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">tagalog</div>
    <label class="embed_translationOption__oQmm2" for="translation-211"
      ><input id="translation-211" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dar Al-Salam Center</div>
        <div class="embed_translationMeta__Ai6Nh">Dar Al-Salam Center</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">tajik</div>
    <label class="embed_translationOption__oQmm2" for="translation-139"
      ><input id="translation-139" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Khawaja Mirof &amp; Khawaja Mir</div>
        <div class="embed_translationMeta__Ai6Nh">Khawaja Mirof &amp; Khawaja Mir</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-223"
      ><input id="translation-223" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Pioneers of Translation Center</div>
        <div class="embed_translationMeta__Ai6Nh">Ruwwad Center</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-74"
      ><input id="translation-74" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Tajik</div>
        <div class="embed_translationMeta__Ai6Nh">AbdolMohammad Ayati</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">tamil</div>
    <label class="embed_translationOption__oQmm2" for="translation-229"
      ><input id="translation-229" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Sheikh Omar Sharif bin Abdul Salam</div>
        <div class="embed_translationMeta__Ai6Nh">Sheikh Omar Sharif bin Abdul Salam</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-50"
      ><input id="translation-50" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Jan Trust Foundation</div>
        <div class="embed_translationMeta__Ai6Nh">Jan Trust Foundation</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-133"
      ><input id="translation-133" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abdul Hameed Baqavi</div>
        <div class="embed_translationMeta__Ai6Nh">Abdul Hameed Baqavi</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">tatar</div>
    <label class="embed_translationOption__oQmm2" for="translation-53"
      ><input id="translation-53" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Tatar</div>
        <div class="embed_translationMeta__Ai6Nh">Tatar</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">telugu</div>
    <label class="embed_translationOption__oQmm2" for="translation-227"
      ><input id="translation-227" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Maulana Abder-Rahim ibn Muhammad</div>
        <div class="embed_translationMeta__Ai6Nh">Maulana Abder-Rahim ibn Muhammad</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">thai</div>
    <label class="embed_translationOption__oQmm2" for="translation-230"
      ><input id="translation-230" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Society of Institutes and Universities</div>
        <div class="embed_translationMeta__Ai6Nh">Society of Institutes and Universities</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-51"
      ><input id="translation-51" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Thai Translation (King Fahad Quran Complex)</div>
        <div class="embed_translationMeta__Ai6Nh">King Fahad Quran Complex</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">turkish</div>
    <label class="embed_translationOption__oQmm2" for="translation-210"
      ><input id="translation-210" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dar Al-Salam Center</div>
        <div class="embed_translationMeta__Ai6Nh">Dar Al-Salam Center</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-77"
      ><input id="translation-77" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Turkish Translation (Diyanet)</div>
        <div class="embed_translationMeta__Ai6Nh">Diyanet Isleri</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-124"
      ><input id="translation-124" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muslim Shahin</div>
        <div class="embed_translationMeta__Ai6Nh">Muslim Shahin</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-112"
      ><input id="translation-112" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Shaban Britch</div>
        <div class="embed_translationMeta__Ai6Nh">Shaban Britch</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-52"
      ><input id="translation-52" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Elmalili Hamdi Yazir</div>
        <div class="embed_translationMeta__Ai6Nh">Elmalili Hamdi Yazir</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">uighur, uyghur</div>
    <label class="embed_translationOption__oQmm2" for="translation-76"
      ><input id="translation-76" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Saleh</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Saleh</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">ukrainian</div>
    <label class="embed_translationOption__oQmm2" for="translation-217"
      ><input id="translation-217" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Dr. Mikhailo Yaqubovic</div>
        <div class="embed_translationMeta__Ai6Nh">Dr. Mikhailo Yaqubovic</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">urdu</div>
    <label class="embed_translationOption__oQmm2" for="translation-234"
      ><input id="translation-234" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Fatah Muhammad Jalandhari</div>
        <div class="embed_translationMeta__Ai6Nh">Fatah Muhammad Jalandhari</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-54"
      ><input id="translation-54" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Maulana Muhammad Junagarhi</div>
        <div class="embed_translationMeta__Ai6Nh">Maulana Muhammad Junagarhi</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-156"
      ><input id="translation-156" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Fe Zilal al-Qur'an</div>
        <div class="embed_translationMeta__Ai6Nh">Sayyid Ibrahim Qutb</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-151"
      ><input id="translation-151" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Shaykh al-Hind Mahmud al-Hasan (with Tafsir E Usmani)
        </div>
        <div class="embed_translationMeta__Ai6Nh">Shaykh al-Hind Mahmud al-Hasan</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-158"
      ><input id="translation-158" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Bayan-ul-Quran</div>
        <div class="embed_translationMeta__Ai6Nh">Dr. Israr Ahmad</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-97"
      ><input id="translation-97" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Tafheem e Qur'an - Syed Abul A'la Maududi</div>
        <div class="embed_translationMeta__Ai6Nh">Sayyid Abul Ala Maududi</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-819"
      ><input id="translation-819" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Maulana Wahiduddin Khan</div>
        <div class="embed_translationMeta__Ai6Nh">Maulana Wahiduddin Khan</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-831"
      ><input id="translation-831" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abul Ala Maududi(Roman Urdu)</div>
        <div class="embed_translationMeta__Ai6Nh">Abul Ala Maududi</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">uzbek</div>
    <label class="embed_translationOption__oQmm2" for="translation-55"
      ><input id="translation-55" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Sodiq Muhammad Yusuf (Latin)</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Sodik Muhammad Yusuf</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-101"
      ><input id="translation-101" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Alauddin Mansour</div>
        <div class="embed_translationMeta__Ai6Nh">Alauddin Mansour</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-127"
      ><input id="translation-127" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Muhammad Sodik Muhammad Yusuf</div>
        <div class="embed_translationMeta__Ai6Nh">Muhammad Sodik Muhammad Yusuf</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">Uzbek</div>
    <label class="embed_translationOption__oQmm2" for="translation-868"
      ><input id="translation-868" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">
          Uzbek Translation - Rowwad Translation Center
        </div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">vietnamese</div>
    <label class="embed_translationOption__oQmm2" for="translation-220"
      ><input id="translation-220" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Ruwwad Center</div>
        <div class="embed_translationMeta__Ai6Nh">Ruwwad Center</div>
      </div></label
    ><label class="embed_translationOption__oQmm2" for="translation-221"
      ><input id="translation-221" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Hasan Abdul-Karim</div>
        <div class="embed_translationMeta__Ai6Nh">Hasan Abdul-Karim</div>
      </div></label
    >
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">yau,yuw</div>
    <label class="embed_translationOption__oQmm2" for="translation-798"
      ><input id="translation-798" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Abdul Hamid Silika</div>
        <div class="embed_translationMeta__Ai6Nh"></div></div
    ></label>
  </div>
  <div class="embed_translationGroup__qsG4x">
    <div class="embed_translationGroupTitle__Cc_ux">yoruba</div>
    <label class="embed_translationOption__oQmm2" for="translation-125"
      ><input id="translation-125" type="checkbox" />
      <div>
        <div class="embed_translationName__S8DQO">Shaykh Abu Rahimah Mikael Aykyuni</div>
        <div class="embed_translationMeta__Ai6Nh">Shaykh Abu Rahimah Mikael Aykyuni</div>
      </div></label
    >
  </div>
</div>
